<section class="panel">

    <div ng-repeat="category in categories" class="block_product block-cat">
            <a ng-href="#/product/{{ category.link_rewrite[0].value }}/{{ category.id }}">{{ category.name[0].value }}</a>
    </div>

    <div class="block_product block-cat"><a ng-href="#/posologie">Posologie</a></div>

    <div class="block_product block-cat"><a ng-href="#/forum">Forum</a></div>

    <div class="block_product block-cat"><a href="#/video">Vidéos explicatives</a></div>


    <!--    <div class="block_video block-cat">
            <a ng-href="#/video.html">Vidéo explicative</a>
       </div>

        <div class="block_product_veterinaire block-cat"><a ng-href="#/product.html">Produit Vétérinaire</a></div>


       <div class="block_Posologie block-cat">
            <a ng-href="#/video.html">Posologie</a>

       </div>

        <div class="block_product_itinary block-cat"><a ng-href="#/product.html">Magasin le plus proche</a></div>


       <div class="block_Forum block-cat">
            <a ng-href="#/video.html">Forum</a>

       </div>

       <div class="block_product_faq block-cat"><a ng-href="#/product.html">Faq et avis</a></div>


       <div class="block_social block-cat">
            <a ng-href="#/video.html">Nous contacter</a>

       </div>-->


</section>